.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Definimos dos columnas, una más grande que la otra */
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    height: 100vh; /* Asignamos la altura de la ventana */
  }
  
  .header {
    grid-area: header; /* Asignamos el área "header" */
    background-color: #ccc;
  }
  
  .sidebar {
    grid-area: sidebar; /* Asignamos el área "sidebar" */
    background-color: #ddd;
  }
  
  .main {
    grid-area: main; /* Asignamos el área "main" */
    background-color: #eee;
  }
  
  .footer {
    grid-area: footer; /* Asignamos el área "footer" */
    background-color: #ccc;
  }
  